* {
  margin: 0;
  padding: 0;
}

/* prevent the scroll */
html,
body {
  overflow: hidden;
}

/* moving canvas to top left corner */

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
